.content-wrapper-center {
    max-width: 66%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transform: translateX(25%) translateY(66%);
}

.button-wrapper-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* .config-item-label {

} */
