.content-wrapper-center {
    @media (max-width: 1250px) {
        max-width: 100%;
        transform: translateY(66%);
    }
    @media (min-width: 1250px) {
        max-width: 66%;
        transform: translateX(25%) translateY(66%);
    }

    height: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.button-wrapper-center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.list-item-end-position-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.list-item-end-position-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    @media (max-width: 1250px) {
        width: 8rem;
    }
    @media (min-width: 1250px) {
        width: 15rem;
    }
}
