.countdown-wrapper {
    height: 85%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.countdown-starting {
    background-color: #2a63f5;
}

.countdown-countdown {
    background-color: #25be5b;
}

.countdown-intermission {
    background-color: #be253a;
}

.timecount-text {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

.timecount-text > h1 {
    font-size: 20rem;
}

.timecount-footer-controls {
    height: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.timecount-footer {
    @media (max-width: 1250px) {
        width: 90%;
    }
    @media (min-width: 1250px) {
        width: 30%;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.timecount-footer-actions {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
