.countdown-starting {
    background-color: green;
}

.countdown-countdown {
    background-color: red;
}

.countdown-intermission {
    background-color: blue;
}

.timecount-wrapper {
    height: 80%;
    min-height: 20rem;
}

.timecount-text {
    font-size: 20rem;
}

.timecount-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
