.content-wrapper-center {
    width: 50%;
    height: 50%;
    /* display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; */
    transform: translateX(50%) translateY(33%);
}
