#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 1250px) {
        width: 8rem;
    }
    @media (min-width: 1250px) {
        width: 15rem;
    }
}

ion-input.custom {
    max-width: 2rem;
}
